<footer>

  <div class="footer-third">
    <div id="tertiary" class="sidebar-container footer" role="complementary">
      <div class="sidebar-inner">
        <div class="widget-area">
          <h3>Our Chartered Organization</h3>
          <a href="https://lecbsa.org">Lake Erie Council</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-third">
    <div id="footer-middle-sidebar" class="sidebar-container footer" role="complementary">
      <div class="sidebar-inner">
        <div class="widget-area">&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="footer-third">
    <img id="footer-prepared" src="/assets/images/prepared_standard_rev.gif" alt="Do Your Best!">
  </div>

  <div class="clear-both"></div>

</footer>

<div id="credit-left">
  &copy; 2023 {{site.title}} - <a href="http://www.scouting.org/">Boy Scouts of America</a>
</div>

<div id="credit">
  Powered By <a href="https://pages.github.com">Github Pages</a> | <a href="http://www.handsomeweb.com/cubscouts/">Based on ScoutPack WordPress theme</a>
</div>

<script>
  jQuery(document).ready(function($){
    jQuery(".flexnav").flexNav({ 'animationSpeed' : 50, 'calcItemWidths': true, 'hoverIntent': true, 'hoverIntentTimeout': 25, 'hover': true });
  });
</script>
