<p class="skip"><a accesskey="C" href="#wrapper">Skip to content</a>. <a accesskey="N" href="#main-navigation">Skip to main navigation</a>.</p>

<header id="page-header">
<div id="charter-box">On my honor, I will do my best
  to do my duty to God and my country and to obey the Scout Law;
  To help other people at all times; To keep myself physically strong,
  mentally awake and morally straight.</div>
<a href="/" title="{{site.title}}"
rel="home"><img id="mobile-logo" src="/assets/images/Universal_Emblem_tiny.gif" alt="B.S.A. Fleur De Lis" /><img id="fleurdelis" src="/assets/images/Universal_Emblem_bar.png" alt="B.S.A. Fleur De Lis" /></a>
<div id="site-name"><a href="/" title="{{site.title}}" rel="home">{{site.title}}<div>{{site.subtitle}}</div></a></div>
</header>

<div  id="main-navigation">
  <div class="menu-button">Menu</div>
  <nav class="menu-top-menu-container">
    <ul data-breakpoint="767" id="menu-top-menu" class="flexnav">
      <li class="menu-item"><a href="/">Home</a></li>
      <li class="menu-item"><a href="/about/">About</a></li>
      <li class="menu-item"><a href="/calendar/">Calendar</a></li>
      <li class="menu-item"><a href="/labels/">Award Labels</a></li>
      <li class="menu-item"><a href="http://scouting.org" target="_blank">Scouting.org</a>
        <ul class="sub-menu">
          <li class="menu-item" target="_blank"><a href="http://www.scouting.org/Training/youthprotection.aspx" target="_blank">Youth Protection</a></li>
          <li class="menu-item"><a href="https://my.scouting.org" target="_blank">My.Scouting.org</a></li>
          <li class="menu-item"><a href="http://BeAScout.org" target="_blank">BeAScout.org</a></li>
          <li class="menu-item"><a href="http://cubscouts.org/" target="_blank">CubScouts.org</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
