---
layout: default
---
<div id="front-pic">
  <img id="front-image" src="/assets/images/front-pic-3.png" alt="Cub Scouts! Do Your Best!" />
  <img id="front-image-bottom" src="/assets/images/Prepared_for_life.gif" alt="Do Your Best!" />
</div>
<div id="front-first">
  <article class="{{ page.pageclass }}">
    <h1 class="entry-title">{{ page.title }}</h1>
    {{ content }}
  </article>
</div>
<div id="front-bottom">
{% for col in site.home_page %}
<div class="content-third">
  <article>
    <header><h2 class="entry-title">{{ col.title }}</h2></header>
    {{ col.output }}
  </article>
</div>
{% endfor %}
</div>
